
@{
    ViewBag.Title = "Problema 02";
}

<h2>Problema 02</h2>

<div class="jumbotron">
    <h3>Objetivo</h3>
    <p>
        Se desea realizar un pequeño prototipo de aplicación web que tenga como finalidad manejar bancos,
        sucursales y sus diversas órdenes de pagos.
    </p>
    <p>
        Use el menu superior para navegar por las opciones.
    </p>
</div>
